.outerBox{
    width: 100%;
    height: 100%;
    padding: 40px;

    & h1{
        margin-top: 40px;
        text-align: center;
       
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 2px;
    }
    & p{
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 30px;
    }
}
.col-12{
    width: 100%;
    object-fit: cover;
    padding: 0;
    margin-bottom: 15px;
    & img{
        width: 100%;
        height: auto;
        // object-fit: cover;
    }

}
#img-center{
    width: 100%;
    height: 520px;
    object-fit: cover;
}
.sec-box{
    background-color: rgb(248, 248, 255);
    width: 100%;
    height: 50%;
    padding: 100px;

    .img-email{
        border-right: 2px solid black;
        & img{
            width: 200px;
            height: 200px;
            margin-left:40px;
            margin-right: -10px;
        }
    }
    .box2{
        & h1{
            width: 600px;
            margin-left: 40px;
            font-size: 1.8rem;
        }
        & input{
            margin-left: 40px;
            width: 300px;
            height: 50px;
            border-radius: 5px;
            margin-top: 20px;
        }
        .btn{
            margin-left: 20px;
            background-color: blue;
            color: white;
            margin-top: -5px;
        }
        .btn:hover{
            background-color:  rgb(223, 29, 29);
        }
    }
}