<section class="outerBox" id="work">
  <h1>Our Portfolio</h1>
  <p>Discover the latest projects accomplished for our clients.<p>
  <div class="container C-box">
      <div class="row justify-content-center "  >
          <div class="col-md-4">
              <div class="row">
                  <div class="col-12">
                      <img src="./assets/zz.jpg" alt="" >
                  </div>
  
                  <div class="col-12">
                      <img src="./assets/ab.jpg" alt="" >
                  </div>
              </div>   
          </div>
          <div class="col-md-4">
              <div class="col-12">
                  <img src="./assets/watch1.jpg" alt="" id="img-center">
              </div>
          </div>
          <div class="col-md-4">
              <div class="row">
                  <div class="col-12">
                      <img src="./assets/cup.jpg" alt="" >
                  </div>
  
                  <div class="col-12">
                      <img src="./assets/zaq.jpg" alt="" >
                  </div>
              </div>   
          </div>
      </div>  
  </div>
</section>
<section class="sec-box">
  <div class="container">
      <div class="row">
          <div class="col-md-4 img-email">
              <img src="./assets/mail1.png" alt="">
          </div>
          <div class="col-md-8 box2">
              <h1>Seen enough? We are currently in the closed beta.
                  Please enter your email to join the waiting list.</h1>
                  <input type="email" placeholder="Enter Your Email Address">
                  <button class="btn btn-lg">Get Started</button>
          </div>
      </div>
  </div>
</section>