<section class="feature-Box" id="features">
  <h1>Amazing Features</h1>
  <h3> Quis autem velis ets reprehender net etid quiste voluptate.</h3>

  <div class="container childBox">
      <div class="row Row1">
          <div class="col-md-4 featureBox-box">
              <i class="fa fa-cogs fa-4x" id="fa-cogs" aria-hidden="true"></i>
              <h2>Support 24/7</h2>
              <p> Utise wisi enim nets venias, quis tation ullamcorper nets lobotis nisle consequat.</p>
          </div>
          <div class="col-md-4 featureBox-box">
              <i class="fa fa-users fa-4x" id="fa-users" aria-hidden="true"></i>
              <h2>User Friendly</h2>
              <p> Utise wisi enim nets venias, quis tation ullamcorper nets lobotis nisle consequat.</p>
          </div>
          <div class="col-md-4 featureBox-box">
              <i class="fa fa-bell-o fa-4x" id="fa-bell-o" aria-hidden="true"></i>
              <h2>Notifications</h2>
              <p> Utise wisi enim nets venias, quis tation ullamcorper nets lobotis nisle consequat.</p>
          </div>
      </div>
      <div class="row Row2">
          <div class="col-md-4 featureBox-box">
              <i class="fa fa-gift fa-4x" id="fa-gift" aria-hidden="true"></i>
              <h2>Accesibility</h2>
              <p> Utise wisi enim nets venias, quis tation ullamcorper nets lobotis nisle consequat.</p>
          </div>
          <div class="col-md-4 featureBox-box">
              <i class="fa fa-usd fa-4x" id="fa-usd" aria-hidden="true"></i>
              <h2>Cost Control</h2>
              <p> Utise wisi enim nets venias, quis tation ullamcorper nets lobotis nisle consequat.</p>
          </div>
         
          <div class="col-md-4 featureBox-box">
              <i class="fa fa-comments fa-4x" id="fa-comments" aria-hidden="true"></i>
              <h2>Chat With Friends</h2>
              <p> Utise wisi enim nets venias, quis tation ullamcorper nets lobotis nisle consequat.</p>
          </div>
      </div>
  </div>
</section>
