<section class="price-box" id="price">
  <div class="container containerBox">
      <div class="row justify-content-center">
          <div class="col-md-4 priceBox-card">
              <h1>Great pricing plans tailored to your business.</h1>
              <p>Quis autem velis ets reprehender net etid quiste voluptate. Utise wisi enim minim veniam, quis et stationes nets.</p>

          </div>
          <div class="col-md-4  ">
              <div class="price-card">
                <h2>MONTHLY</h2> <h1 >$19</h1> 
                <h2 >Per Month</h2>
             
                 <button class="btn  btn-lg ">Get Started</button>
                 <p>First two weeks free.
                   Amazing freatures.</p>
              </div>
               
          </div>
          <div class="col-md-4 ">
              <div class="price-card2">
                <h2>ANNUALY</h2>
                 <h1 > $29</h1>
                  <h2 >Per Year</h2>
                  <button class="btn2  btn-lg ">Get Started</button>
                  <p>First two weeks free.
                      Save 45% with this plan
                      Amazing freatures.</p>
              </div>
                 
          </div>
      </div>
  </div>
</section>
<section class="FAQ-box">
  <h1>Frequently Asked Questions</h1>
  <p>Quis autem velis ets reprehender net etid quiste voluptate.</p>
  <div class="container m-auto container-box">
      <div class="row row1-faq">
          <div class="col-md-5 m-auto">
              <h4>Velit ut tortizi pretium viverra suspendisse?</h4>
              <p>Utise wisi enim minim veniam, quis et stationes ullamcorper nets suscipit ets lobotis nisle consequat nihis etim. Quis autem velis ets reprehender net etid quiste voluptate velite esse sedis.</p>
          </div>
          <div class="col-md-5 m-auto">
              <h4>Nibh sit amet aliquam commodo?</h4>
              <p>Utise wisi enim minim veniam, quis et stationes ullamcorper nets suscipit ets lobotis nisle consequat nihis etim. Quis autem velis ets reprehender net etid quiste voluptate velite esse sedis.</p>
          </div>
      </div>
      <div class="row row2-faq">
          <div class="col-md-5 m-auto">
              <h4>Maecenas volutpat blandit etiam?</h4>
              <p>Utise wisi enim minim veniam, quis et stationes ullamcorper nets suscipit ets lobotis nisle consequat nihis etim. Quis autem velis ets reprehender net etid quiste voluptate velite esse sedis.</p>
          </div>
          <div class="col-md-5 m-auto">
              <h4>Elementum curabitur vitae?</h4>
              <p>Utise wisi enim minim veniam, quis et stationes ullamcorper nets suscipit ets lobotis nisle consequat nihis etim. Quis autem velis ets reprehender net etid quiste voluptate velite esse sedis.</p>
          </div>
      </div>
  </div>
</section>
