<nav class="navbar navbar-expand-lg navbar-light " id="nav" style="background-color: rgb(116, 116, 240);">
  <a class="navbar-brand" href="#" id="navlogo">StartUp Bundle</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navbarNav">
    <ul class="navbar-nav" class="navlist">
      <li class="nav-item active" class="listItem">
        <a class="nav-link active" href='#home'>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about" >About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#team" >Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#testimonial">Testimonial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#work">Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#features">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#price">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#blog">Blog</a>
      </li>
    </ul>
    <div>
      <a [routerLink]="['/login']" class="btn_style cursor" id="loginBtn">Login</a>
      <a [routerLink]="['/sign-up']" class="btn_style cursor" id="createAccountBtn">SignUp</a>
    </div>
    
  </div>
</nav>