<div class="box">
  <div class="col-md-5" style="display: flex; margin-top: 12px;">
     <h3><span><i class="fa fa-copyright" aria-hidden="true"></i></span> 2021 StartUp Bundle.&nbsp;</h3>
     <p> Designed by <span style="color: red;"> Kuldeep Sharma</span></p>
  </div>
  <div class="col-md-5" style="display: flex; ">
      <p style="margin-left: 200px; margin-top: 12px;">Follow us : </p>
      <span class="icons">
          <i class="fa fa-twitter fa-2x" aria-hidden="true" style="color:#4099ff;"></i>
          <i class="fa fa-facebook fa-2x" aria-hidden="true" style="color:#3b5998;"></i>
          <i class="fa fa-linkedin fa-2x" aria-hidden="true" style="color:#3b5998;"></i>
          <i class="fa fa-pinterest-p fa-2x" aria-hidden="true" style="color:#C92228;"></i>
          <i class="fa fa-instagram fa-2x" aria-hidden="true" style="color:#8a3ab9;"></i>
          <i class="fa fa-skype fa-2x" aria-hidden="true" style="color:#1e90ff;"></i>
      </span>
  </div>
</div>
