<section class="outer-box" id="testimonial">
  <div class="container" style="padding:40px;">
      <div class="row justify-content-center" >
          <div class="col-md-6 ">
              <h1>What People Are Saying.</h1>
              <h3>Quis autem velis ets reprehender net etid quiste nets voluptate. Utise wisi enim minim veniam, quis etsad aspernatis netsum stationes nets.</h3>
              <div class="box">
                  <div class="h3-icon" style="border-right: 2px solid gray; ">
                      <h3>TrustPilot</h3>
                      <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                      <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                      <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                      <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                      <i class="fa fa-star-half-o fa-lg" aria-hidden="true"></i>
                     
                  </div>
                  <div class="h3-icon" style="margin-left: 30px;">
                      <h3>Feefo</h3>
                      <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                      <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                      <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                      <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                      <i class="fa fa-star-o fa-lg" aria-hidden="true"></i>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="row card" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  <div class="card-header" >
                        <h5>
                          <button  class="btn btn-lg m-0" >
                              <img src="./assets/man.png" alt="" >
                              <h4>John Doe /
                                  <span style="color: #27b36a;">CEO - Epic Design</span>
                              </h4>
                          </button>
                      </h5>
                  </div>
                  <div class="card-body"  class="collapse" id="collapseExample">                       
                      <p >Nemo enim ipsam voluptatem quia voluptas situm ets aspernatis netsum loris fugit, sed quia magni dolores eos quis ratione sequi etum nets vesciunt neque.</p> 
                 </div>
              </div>
              <div class="row card" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2" >
                  <div class="card-header">
                      <h5>
                          <button  class="btn btn-lg">
                              <img src="./assets/girl.png" alt="">
                              <h4>Alexandra Smith /
                                  <span style="color: #27b36a;">Manager - SmartCoders</span>
                              </h4>
                          </button>
                      </h5>
                  </div>
                  <div class="card-body" class="collapse" id="collapseExample2">
                      <p>Nemo enim ipsam voluptatem quia voluptas situm ets aspernatis netsum loris fugit, sed quia magni dolores eos quis ratione sequi etum nets vesciunt neque.</p>

                  </div>
              </div>
              <div class="row card" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
                  <div class="card-header">
                      <h5>
                          <button class="btn btn-lg">
                              <img src="./assets/account.png" alt="">
                              <h4>Christina Pages /
                                  <span style="color: #27b36a;">Designer - New Fashion</span>
                              </h4>
                          </button>
                      </h5>
                  </div>
                  <div class="card-body" class="collapse" id="collapseExample3">
                      <p>Nemo enim ipsam voluptatem quia voluptas situm ets aspernatis netsum loris fugit, sed quia magni dolores eos quis ratione sequi etum nets vesciunt neque.</p>

                  </div>
              </div>

            
              <!-- <div class="row">
                  <div class="userDesc">
                      <p>Nemo enim ipsam voluptatem quia voluptas situm ets aspernatis netsum loris fugit, sed quia magni dolores eos quis ratione sequi etum nets vesciunt neque.</p>
                      <h2>John Doe</h2>
                      <h3>CEO - Epic Design</h3>
                  </div>
              </div>
              <div class="row">
                  <div class="userDesc">
                      <p>Nemo enim ipsam voluptatem quia voluptas situm ets aspernatis netsum loris fugit, sed quia magni dolores eos quis ratione sequi etum nets vesciunt neque.</p>
                      <h2>Christina Pages</h2>
                      <h3>Designer - New Fashion</h3>
                  </div>
              </div> -->
          </div>
      </div>
  </div>
</section>