<section class="box" id="about" >
  <h1>What We Do</h1>
  <p>Dicover how our amazing team can help your business.</p>
  <div class="container  " class="cardBox">
    
      <div class="row justify-content-center " class="card">
          <div class="col-md-4 mt-2" class="cards" >
              <img src="./assets/settings.png" alt="">
              <h2>Brand Awareness</h2>
              <h6>Curabitur quam etsum lacus net netsum nulat iaculis etsimun vitae etsum nisle varius netsum.</h6>
          </div>
          <div class="col-md-4 mt-2 " class="cards">
              <img src="./assets/settings1.png" alt="">
              <h2>Google Analitycs</h2>
              <h6>Curabitur quam etsum lacus net netsum nulat iaculis etsimun vitae etsum nisle varius netsum.</h6>
          </div>
          <div class="col-md-4 mt-2" class="cards">
              <img src="./assets/computer.png" alt="">
              <h2>Graphic Design</h2>
              <h6>Curabitur quam etsum lacus net netsum nulat iaculis etsimun vitae etsum nisle varius netsum.</h6>
          </div>
          
      </div>
  </div>
</section>
<section class="box2">
  <div class="container" >
      <div class="row justify-content-center" class="container-box">
          <div class="col-md-6" id="inner-box-img">
              <img src="./assets/pc5.png" alt="img">
          </div>
          <div class="col-md-6" id="inner-box">
              <h1>Discover how we can help you to grow your business fast.</h1>
              <h6> Velis demo enim ipsam voluptatem quia voluptas sit aspernatur netsum lorem fugit, seditum netis velas matrix net nesciunt.</h6>
                
              <div class="icon">
                  <i class="fa fa-check fa-2x "  aria-hidden="true"></i><p>Quias netus magni netsum eos qui ratione sequi.</p>

              </div>
              <div class="icon">
                  <i class="fa fa-check fa-2x"  aria-hidden="true"></i><p>Venis ratione sequi netus enim quia tempor magni.</p>

              </div>
              <div class="icon">
                  <i class="fa fa-check fa-2x"  aria-hidden="true"></i><p>Enim ipsam netus voluptatem quia voluptas.</p>

              </div>
              <button class="btn btn-danger btn-lg">Discover More</button>
          </div>
      </div>
  </div>
</section>
<section>
  <div class="container" class="boxes" >
      <div class="row justify-content-center" >
          <div class="col-md-6 ">
              <div class="row boxes-box">
                  <div class="boxes-box-innerBox" (click)="image='assets/wcw1.jpg'">                        
                      <i class="fa fa-envelope-open fa-4x" id="fa-envelope-open" aria-hidden="true"></i>
                      <h6>Customize your workflow.</h6>
                      <p>Manage any process and be ready to address any challenge with total ease.</p>
                  </div>                    
              </div>
              <div class="row boxes-box">
                  <div class="boxes-box-innerBox" (click)="image='assets/nn.jpg'">
                      <i class="fa fa-diamond fa-4x" id="fa-diamond" aria-hidden="true"></i>
                      <h6>Easy onboarding, fast adoption.</h6>
                      <p> With Square getting your team on board is as simple as sending an email.</p>
                  </div>
                 
              </div>
              <div class="row boxes-box">
                  <div class="boxes-box-innerBox" (click)="image='assets/pk.jpg'">
                      <i class="fa fa-file-text fa-4x" id="fa-file" aria-hidden="true"></i>
                      <h6>Improve subscriber retention.</h6>
                      <p> Analyze customers by region, discounts and more and put a plan in place.</p>
                  </div>
                 
              </div>
          </div>
          <div class="col-md-6 box-img">
              <img src={{image}} alt="">
          </div>
      </div>
  </div>
</section>

