<section class="TeamBox" id="team">
    
  <h1>Meet Our Team</h1>
  <h3> Discover more about our high performing team.</h3>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-4 ">
              <div class="card-img">
                  <img src="./assets/girl.png" alt="img">
                  <h6>CHRISTINA HAWKINS</h6>
                  <p class="p-tag">Head of SEO</p>
                  <div class="card-desc">
                      <p>Johnathan is our co-founder and has developed search strategies for a variety of clients for over 5 years.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card-img">
                  <img src="./assets/man.png" alt="img">
                  <h6>ANDRES JOHANSON</h6>
                  <p class="p-tag">Marketing Manager</p>
                  <div class="card-desc">
                      <p>Andres fell in love with marketing at the school and looks forward to being part of the industry for years.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card-img">
                  <img src="./assets/account.png" alt="img">
                  <h6>ALEXANDRA SMITHS</h6>
                  <p class="p-tag">SEO Specialist</p>
                  <div class="card-desc">
                      <p>Graduating with a degree in Spanish, English and French, she has always loved writing.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="box-aboutteam">
  <div class="container"  >
     
      <h1 style="font-size: 2rem;">Fun Facts About Our Agency</h1>

      <div class="detail-box">
          <div class="detailBox">
              <i class="fa fa-diamond fa-3x" aria-hidden="true"></i>
              <p>1050 +<br><br> Projects Completed</p>

          </div>
          <div class="detailBox">
              <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
               <p>217k<br><br> Happy Clients</p>
          </div>
          <div class="detailBox">
             
              <i class="fa fa-cog fa-3x" aria-hidden="true"></i>
              <p>1210<br><br> Design Awards</p>
          </div>
          <div class="detailBox">
              <i class="fa fa-anchor fa-3x" aria-hidden="true"></i>
              <p>2137<br><br> Line Of Codes</p>
          </div>
     
      </div>
  </div>
</section>