<section class="blog-box" id="blog">
  <h1>Our Blog</h1>
      <p> Latest news, tips and best practices.</p>

      <div class="container container-Blog">
          <div class="row blogBox-cards m-auto">
              <div class="col-md-4  m-auto" id="card1">
                <div class="blog-card">
                    <img src="./assets/assw.jpg" alt="" style="width:100%; height: 250px; ">
                    <h5>The Guide To LinkedIn Ads</h5>
                    <p>Quis autem velis reprehender net etid quiste voluptate velite estum quam nihis etsa sedit varias.</p>
                </div>   
              </div>

              <div class="col-md-4  m-auto" id="card1">
                <div class="blog-card">
                    <img src="./assets/qwq.jpg" alt="" style="width:100%; height: 250px; ">
                    <h5>Affinity Designer Quick Start</h5>
                    <p>Quis autem velis reprehender net etid quiste voluptate velite estum quam nihis etsa sedit varias.</p>
                </div>   
              </div>

              <div class="col-md-4  m-auto" id="card1">
                <div class="blog-card">
                    <img src="./assets/ee.jpg" alt="" style="width:100%; height: 250px; ">
                    <h5>Our Happy Team</h5>
                    <p>Quis autem velis reprehender net etid quiste voluptate velite estum quam nihis etsa sedit varias.</p>
                </div>   
              </div>

          </div>
      </div>
</section>

