<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="mr-auto cursor" (click)="logo()">
            <!-- <img src="assets/logo.svg" alt="Logo"> -->
            <h3 class="text">StartUp <br>Bundle</h3>

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item">
                    <a class="nav-link cursor" [routerLink]="['/term-condition']">How it works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link cursor" [routerLink]="['/term-condition']">FAQ</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link cursor" [routerLink]="['/sign-up']">Create an acount</a>
                </li>
                <li>
                    <a [routerLink]="['/login']" class="btn_style cursor">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</header>